@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
.voice-wrapper {
    position: fixed;
    display: flex;
    flex-direction: row-reverse;
    bottom: 20px;
    right: 20px;
    z-index: 100;
}
.voice-recognition-turn-on-button {
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    background: #999;
    color: #fff;
    border: 0;
    cursor: pointer;
}
.voice-recognition-turn-on-button.on {
    background: rgb(39, 163, 67);
    border: 1px solid #fff;
    animation: listening-animation 10s infinite;
    animation-timing-function: ease-in-out;
}
.voice-recognition-message {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

@-webkit-keyframes listening-animation {
    0%   { box-shadow: 0px 0px 0px 0px rgba(39, 163, 67, 0.5); }
    20% { box-shadow: 0px 0px 0px 40px rgba(39, 163, 67, 0.3); }
    40% { box-shadow: 0px 0px 0px 10px rgba(39, 163, 67, 0.6); }
    60% { box-shadow: 0px 0px 0px 50px rgba(39, 163, 67, 0.2); }
    80% { box-shadow: 0px 0px 0px 5px rgba(39, 163, 67, 0.5); }
    100% { box-shadow: 0px 0px 0px 40px rgba(39, 163, 67, 0); }
}

.voice-modal {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    z-index: 9999;
}

.voice-modal-container {
    max-width: 400px;
    padding: 20px;
    text-align: center;
}

.voice-modal-button {
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    background: #fff;
    color: #000;
    border: 0;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.voice-modal-button:hover {
    transform: scale(1.2);
}

