<!doctype html>
<html lang="en">
<head>
    <title>Chatbot with voice recognition layer</title>
    <meta charset="UTF-8">
    <meta
        name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="favicon" href="https://zoovu.com/sites/default/files/fav.ico">
    <link href="css/main.a2271702.chunk.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/c986279add.js"></script>
</head>
<body>
    <div id="voiceRecognitionLayer">
        <div class="voice-wrapper">
            <button
                class="voice-recognition-turn-on-button"
                :class="{on: voiceRecognitionStatus}"
                type="button"
                @click="toggleVoiceRecognition">
                <i
                    v-if="voiceRecognitionStatus"
                    class="fas fa-microphone"></i>
                <i
                    v-if="!voiceRecognitionStatus"
                    class="fas fa-microphone-slash"></i>
                <span>{{buttonLabel}}</span>
            </button>
        </div>

        <div
            v-if="showModal"
            class="voice-modal">
            <div class="voice-modal-container">
                <h1
                    v-text="modalInfo"></h1>
                <button
                    v-if="speechRecognitionSupportStatus"
                    @click="closeModal"
                    class="voice-modal-button">Please continue</button>
            </div>
        </div>
    </div>
    <div id="root" style="margin:0 auto;max-width:1300px"></div>
    <script>!function(f){function e(e){for(var r,t,n=e[0],o=e[1],u=e[2],l=0,a=[];l<n.length;l++)t=n[l],Object.prototype.hasOwnProperty.call(p,t)&&p[t]&&a.push(p[t][0]),p[t]=0;for(r in o)Object.prototype.hasOwnProperty.call(o,r)&&(f[r]=o[r]);for(s&&s(e);a.length;)a.shift()();return c.push.apply(c,u||[]),i()}function i(){for(var e,r=0;r<c.length;r++){for(var t=c[r],n=!0,o=1;o<t.length;o++){var u=t[o];0!==p[u]&&(n=!1)}n&&(c.splice(r--,1),e=l(l.s=t[0]))}return e}var t={},p={1:0},c=[];function l(e){if(t[e])return t[e].exports;var r=t[e]={i:e,l:!1,exports:{}};return f[e].call(r.exports,r,r.exports,l),r.l=!0,r.exports}l.m=f,l.c=t,l.d=function(e,r,t){l.o(e,r)||Object.defineProperty(e,r,{enumerable:!0,get:t})},l.r=function(e){"undefined"!=typeof Symbol&&Symbol.toStringTag&&Object.defineProperty(e,Symbol.toStringTag,{value:"Module"}),Object.defineProperty(e,"__esModule",{value:!0})},l.t=function(r,e){if(1&e&&(r=l(r)),8&e)return r;if(4&e&&"object"==typeof r&&r&&r.__esModule)return r;var t=Object.create(null);if(l.r(t),Object.defineProperty(t,"default",{enumerable:!0,value:r}),2&e&&"string"!=typeof r)for(var n in r)l.d(t,n,function(e){return r[e]}.bind(null,n));return t},l.n=function(e){var r=e&&e.__esModule?function(){return e.default}:function(){return e};return l.d(r,"a",r),r},l.o=function(e,r){return Object.prototype.hasOwnProperty.call(e,r)},l.p="/";var r=window["webpackJsonpgandalf-ui"]=window["webpackJsonpgandalf-ui"]||[],n=r.push.bind(r);r.push=e,r=r.slice();for(var o=0;o<r.length;o++)e(r[o]);var s=n;i()}([])</script>
    <script src="js/2.87aefc12.chunk.js"></script>
    <script src="js/main.56c0a7e7.chunk.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/app.js"></script>
</body>
</html>
